[submodule ".registry"]
	path = .registry
	url = https://github.com/aqlt/aqlt.r-universe.dev
	branch = HEAD
[submodule "Avionic24"]
	path = Avionic24
	url = https://github.com/InseeFrLab/Avionic24
[submodule "RJDemetra"]
	path = RJDemetra
	url = https://github.com/rjdverse/rjdemetra
[submodule "Rogctable"]
	path = Rogctable
	url = https://github.com/AQLT/Rogctable
[submodule "ggdemetra"]
	path = ggdemetra
	url = https://github.com/AQLT/ggdemetra
[submodule "rjd3filters"]
	path = rjd3filters
	url = https://github.com/rjdverse/rjd3filters
[submodule "rjd3toolkit"]
	path = rjd3toolkit
	url = https://github.com/rjdverse/rjd3toolkit
	registered = false
[submodule "rjdmarkdown"]
	path = rjdmarkdown
	url = https://github.com/AQLT/rjdmarkdown
[submodule "rjdqa"]
	path = rjdqa
	url = https://github.com/AQLT/rjdqa
[submodule "rjwsacruncher"]
	path = rjwsacruncher
	url = https://github.com/AQLT/rjwsacruncher
[submodule "tvCoef"]
	path = tvCoef
	url = https://github.com/InseeFrLab/tvCoef
