[submodule ".registry"]
	path = .registry
	url = https://github.com/aqlt/aqlt.r-universe.dev
	branch = HEAD
[submodule "Avionic24"]
	path = Avionic24
	url = https://github.com/InseeFrLab/Avionic24
[submodule "RJDemetra"]
	path = RJDemetra
	url = https://github.com/rjdverse/rjdemetra
[submodule "Rogctable"]
	path = Rogctable
	url = https://github.com/AQLT/Rogctable
[submodule "ggdemetra"]
	path = ggdemetra
	url = https://github.com/AQLT/ggdemetra
[submodule "ggdemetra3"]
	path = ggdemetra3
	url = https://github.com/AQLT/ggdemetra3
[submodule "rjd3filters"]
	path = rjd3filters
	url = https://github.com/rjdverse/rjd3filters
[submodule "rjd3highfreq"]
	path = rjd3highfreq
	url = https://github.com/rjdverse/rjd3highfreq
	registered = false
[submodule "rjd3report"]
	path = rjd3report
	url = https://github.com/AQLT/rjd3report
[submodule "rjd3sts"]
	path = rjd3sts
	url = https://github.com/rjdverse/rjd3sts
	registered = false
[submodule "rjd3toolkit"]
	path = rjd3toolkit
	url = https://github.com/rjdverse/rjd3toolkit
	registered = false
[submodule "rjd3tramoseats"]
	path = rjd3tramoseats
	url = https://github.com/rjdverse/rjd3tramoseats
	registered = false
[submodule "rjd3x11plus"]
	path = rjd3x11plus
	url = https://github.com/rjdverse/rjd3x11plus
	registered = false
[submodule "rjd3x13"]
	path = rjd3x13
	url = https://github.com/rjdverse/rjd3x13
	registered = false
[submodule "rjdmarkdown"]
	path = rjdmarkdown
	url = https://github.com/AQLT/rjdmarkdown
[submodule "rjdqa"]
	path = rjdqa
	url = https://github.com/AQLT/rjdqa
[submodule "rjwsacruncher"]
	path = rjwsacruncher
	url = https://github.com/AQLT/rjwsacruncher
[submodule "tvCoef"]
	path = tvCoef
	url = https://github.com/InseeFrLab/tvCoef
